.languagesList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 44px;
}

.languageItem {
    background: #f5f5f7;
    margin: 0;
    border-radius: 8px;
    height: 28px;
    line-height: 28px;
    padding: 0 9px;
    font-size: 12px;
    margin-right: 12px;
    display: flex;
    transition: all 0.3s;
    text-transform: capitalize;

    &.isActive {
        background: #a8caff;
    }
}
